<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/post_recent.css" />
  </head>
  <body>
    <div class="top-nav">
      <div class="wrapper">
        <div class="logo-icon">
          <a href="/Home_user">
            <img src="../images_test/Debate.png" width="60px" />
          </a>
        </div>

        <nav>
          <ul>
            <li>
              <a href="/Home_user">Home</a>
            </li>

            <li>
              <a href="/Create_post">Create post</a>
            </li>

            <li>
              <a href="#">Popular posts</a>
            </li>

            <li>
                <a href="/Management_User">manage users</a>
              </li>

            <li>
                <a href="/Management_Post">manage posts</a>
            </li>
          </ul>
        </nav>

        <div class="search-icon">
          <div class="name"><%=nameuser%> </div>
            <a href="/" class="icon-person"><ion-icon name="person"></ion-icon></a>
            <a href="/" class="btn-logout"><ion-icon name="log-out"></ion-icon></a>
          <!--<img src="../images_test/search-icon.png" alt="" /> -->
        </div>

        <div class="mobile-menu-icon">
          <img src="../images_test/menu-icon.png" alt="" />
        </div>

        <div class="mobile-menu-container">
          <ul>
            <li>
              <a href="/Home_user">Home</a>
            </li>

            <li>
              <a href="/Create_post">Create post</a>
            </li>

            <li>
              <a href="#">Popular posts</a>
            </li>
          </ul>
          
        </div>

        <div class="menu-close-icon">
          <img src="../images_test/close-icon.png" alt="" />
        </div>
        <!--<div class="search-container">
          <div class="blog-search">
            <input type="text" />
            <input type="submit" value="Search" />
          </div> -->
        </div>
      </div>
    </div>

    <header>
      <div class="header-wrapper">
        <div class="hero">
          <div class="hero-left">
            <h1 class="main-heading">Debate</h1>
            <p class="main-subheading">Welcome to Debate talks</p>
            <a href="/Create_Post" class="btn">Create post</a>
          </div>
          <div class="hero-right">
            <img src="../images_test/hero-image.png" alt="" />
          </div>
        </div>
      </div>
    </header>

    <!-- End of the header -->

    <div class="wrapper">
      <section class="posts-wrapper">
        <h2>Latest Blog Posts</h2>
      <%for(let i = post.length-1 ; i >= 0  ; i-- ){ %>  
        <div class="blogpost-card">
          <div class="thumbnail-image">
            <div class="post-labels">
              <img src="../images_test/label-icon.png" alt="" />
              <a href="#">Technology, </a>
              <a href="#">Blogging</a>
            </div>
            <img src="../images_test/post-thumbnail1.jpg" alt="" />
          </div>  
          <h3 class="post-title">
            <%=post[i].title%>
          </h3>
          <div class="post-meta"> Post by
            <%for(let n = 0; n < user.length;n++){%>
              <%if(post[i].user_id == user[n].user_id) {%>
                  <%=user[n].username%>
                  <%break%>
              <%}%>
            <%}%>
          </div>

          <div class="post-body">
            <p>
              <%=post[i].content%>
            </p>
            <div class="read-more-container">
              <a href="/post/<%=post[i].post_id%>" class="read-more">Read More</a>
            </div>
          </div>
        </div>
      <% }%>
       
      </section>

      <!-- End of Blogs Section -->

      <div class="popular-posts-container">
        <h2>Popular Posts</h2>

        <div class="popular-posts">
          <div class="popular-post">
            <div class="thumbnail">
              <img src="../images_test/popular-post1.jpg" alt="" />
              <h3 class="title">The Post Title</h3>
            </div>
          </div>

          <div class="popular-post">
            <div class="thumbnail">
              <img src="../images_test/popular-post2.jpg" alt="" />
              <h3 class="title">The Post Title</h3>
            </div>
          </div>

          <div class="popular-post">
            <div class="thumbnail">
              <img src="../images_test/popular-post3.jpg" alt="" />
              <h3 class="title">The Post Title</h3>
            </div>
          </div>

          <div class="popular-post">
            <div class="thumbnail">
              <img src="../images_test/popular-post1.jpg" alt="" />
              <h3 class="title">The Post Title</h3>
            </div>
          </div>

          <div class="popular-post">
            <div class="thumbnail">
              <img src="../images_test/popular-post1.jpg" alt="" />
              <h3 class="title">The Post Title</h3>
            </div>
          </div>
          
        </div>
      </div>

      <!-- End of popular posts section -->

      
    </div>

    <!-- End of Contact Section -->

    <footer>
      <div class="wrapper">
        <div class="footer-container">
          <div class="footer-left">
            <img src="../images_test/Debate.png" width="60px" />
          </div>

          <div class="footer-center">
            <h4 class="list-title">Quick Links</h4>

            <ul>
              <li>
                <a href="/Home_user">Home</a>
              </li>

              <li>
                <a href="/Create_post">Create post</a>
              </li>

              <li>
                <a href="#">Popular posts</a>
              </li>
            </ul>
          </div>

          <div class="footer-right">
            <h4 class="list-title">Follow us on</h4>

            <div class="social-icons">
              <a href="https://www.instagram.com/dreams.ptp/">
                <img src="../images_test/instagram-logo.png" alt="" />
              </a>

              <a href="https://www.facebook.com/dreamzzzx/">
                <img src="../images_test/facebook-logo.png" alt="" />
              </a>

              <a href="https://twitter.com/hopehxpe">
                <img src="../images_test/twitter-logo.png" alt="" />
              </a>
            </div>

            <p>I wish this website will be make you happy</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="../jsFile/main.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
